*{
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


body{
    color: #fff;
}

.header{
    background-image: url('../images/space-bg.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__inner{
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
}

.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0 30px;
}

.menu__list{
    list-style: none;
    display: flex;
}

.menu__item{
    margin-right: 30px;
}

.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    transition: all 0.5s;
    color: #fff;
}

.menu__link:hover{
    color: red;
}

.logo_img{
    background: transparent;
}

.phone{
    font-size: 24px;
    line-height: 28px;
    margin-left: auto;
    text-decoration: none;
    color: #fff;
}

.header__content{
    max-width: 600px;
}

.header__title{
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'spaceagecyrillic', sans-serif;

}

.header__title span{
    font-size: 110px;

}

.header__text{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.header__btn{
    font-family: 'SF Pro Display', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
}

.header__description-text{
    width: 165px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.header__description{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

.header__description-text + .header__description-text{
    margin-left: 50px;
}

.login{
    background: transparent;
    border: none;
    cursor: pointer;
}

.about{
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about__item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.about__item-origin{
    flex-direction: row-reverse;
}

.about__img{
    max-width: 100%;
}

.about__content{
    width: 600px;
}

.about__content-title{
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about__content-subtitle{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #036cca;
}

.about__content-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about__content-text p{
    width: 165px;
}

.about__table{
    margin-bottom: 50px;
}

.about__table-caption{
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
}

.about__table-tr{
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
}

.about__table-tr + .about__table-tr{
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
}

.about__table-td{
    padding: 10px 30px 10px 0;
}

.about__table-td span{
    font-size: 14px;
    line-height: 17px;
    display: block;
}

.button {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 20px 45px;
    text-align: center;
}

.how-to{
    background-image:url('../images/фон\ 3.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.how-to__box-list{
    display: none;
}